
.containerChat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 500px;
    border: 1px solid white;

}

.containerMenssage{
    width: 100%;
    height: 80%;
}

.containerTextArea{
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;

}

.containerTextArea textarea{
    resize: none;
}

.BtnEnviar{
    background-color: green;
    width: 10%;
    border-radius: 0;

}